li:hover,
.form-check:hover {
    color: var(--bs-light);
    transition: 0.15s;
}

.main-ol li::before {
    content: attr(data-id)". ";
}

.main-ol li form {
    display: contents;
}

.main-ol li .hidden {
    display: none;
}

.main-ol {
    list-style: none;
}

.profile-picture {
    width: 2.5vw;
    height: 2.5vw;
}

.hide {
    display: none;
}